### Question 1


Consider the following Python module:
a = 0
def b():
global a
a = c(a)
def c(a):
return a + 2
After importing the module into the interpreter, you execute:
>>> b()
>>> b()
>>> b()
>>> a
?
What value is displayed when the last expression (a) is evaluated? Explain your answer by indicating what happens in every executed statement.

In [26]:
a = 0
def b():
    global a
    a = c(a)
def c(a):
    return a + 2

Here, First we define a variable a with the value 0. Then we defne two functions b() and c(a).The b() function will modify the global variable a and then set 'a' to call the c(a).This c(a) function returns the result of adding 2 as a input.

In [27]:
b()
b()
b()
a

6

When we execute b() for the first time , c(a) is called with the value of a is 0. then c(a) returns 0+2 which means 2 and this value is assigned to a.

when b() is called again , c(a) returns 2+2 which means 4 , again this value assigned to a.

when b() execute for the third time , c(a) returns 4+2 which means 6, and this value assigned to a.

So the final value is 6.

### Question 2:

Function fileLength(), given to you, takes the name of a file as input and returns the length of the file: >>> fileLength('midterm.py') 284 >>> fileLength('idterm.py') Traceback (most recent call last): File "<pyshell#34>", line 1, in <module> fileLength('idterm.py') File "/Users/me/midterm.py", line 3, in fileLength infile = open(filename) FileNotFoundError: [Errno 2] No such file or directory: 'idterm.py'
As shown above, if the file cannot be found by the interpreter or if it cannot be read as a text file, an exception will be raised. Modify function fileLength() so that a friendly message is printed instead: >>> fileLength('midterm.py') 358 >>> fileLength('idterm.py') File idterm.py not found.

In [17]:
def fileLength(filename):
    try:
        infile = open(filename, 'r')
        content = infile.read()
        infile.close()
        length = len(content)
        return length
    except FileNotFoundError:
        return f"File {filename} not found."

# Print if file exists otherswise print exception that file noy found:
result = fileLength('midterm.py')
print(result)

result = fileLength('idterm.py')
print(result)

File midterm.py not found.
File idterm.py not found.

### Question 3

Write a class named Marsupial that can be used as shown below: >>> m = Marsupial() >>> m.put_in_pouch('doll') >>> m.put_in_pouch('firetruck') >>> m.put_in_pouch('kitten') >>> m.pouch_contents() ['doll', 'firetruck', 'kitten']

Now write a class named Kangaroo as a subclass of Marsupial that inherits all the attributes of Marsupial and also:
a. extends the Marsupial __init__ constructor to take, as input, the coordinates x and y of the Kangaroo object,
b. supports method jump that takes number values dx and dy as input and moves the kangaroo by dx units along the x-axis and by dy units along the y-axis, and
c. overloads the __str__ operator so it behaves as shown below.
>>> k = Kangaroo(0,0) >>> print(k) I am a Kangaroo located at coordinates (0,0) >>> k.put_in_pouch('doll') >>> k.put_in_pouch('firetruck') >>> k.put_in_pouch('kitten') >>> k.pouch_contents() ['doll', 'firetruck', 'kitten'] >>> k.jump(1,0) >>> k.jump(1,0) >>> k.jump(1,0) >>> print(k) I am a Kangaroo located at coordinates (3,0)

In [19]:
# class Marsupial
class Marsupial:
    def __init__(self):
        self.pouch = []  # Initialize an empty pouch

    def put_in_pouch(self, item):
        self.pouch.append(item)  # Add an item to the pouch

    def pouch_contents(self):
        return self.pouch  # Return the contents of the pouch

# class called Kangaroo which inherits from Marsupial
class Kangaroo(Marsupial):
    def __init__(self, x, y):
        super().__init__()  # Initialize the Marsupial part of Kangaroo
        self.x = x  # Initialize Kangaroo's x-coordinate
        self.y = y  # Initialize Kangaroo's y-coordinatecoordinate

    def jump(self, dx, dy):
        self.x += dx  # Move Kangaroo's x- by dx
        self.y += dy  # Move Kangaroo's y-coordinate by dy

    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.x}, {self.y})"

In [20]:

# Create a Marsupial, put items in its pouch, and print the contents
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
print(f"Marsupial's pouch contents: {m.pouch_contents()}")

# Create a Kangaroo at coordinates (0, 0), put items in its pouch, jump, and print its location
k = Kangaroo(0, 0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(f"Kangaroo's pouch contents: {k.pouch_contents()}")
k.jump(1, 0)
k.jump(1, 0)
k.jump(1, 0)
print(k)

Marsupial's pouch contents: ['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (0, 0)
Kangaroo's pouch contents: ['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3, 0)



### Question 4 
Write function collatz() that takes a positive integer x as input and prints the 
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying 
this rule to the previous number x in the sequence: 
 
x = {  洧논/2 洧녰洧녭 洧논 洧녰洧 洧뉧롐洧뉧롐 3洧논 
+ 1 洧녰洧녭 洧논 洧녰洧 洧녶洧녬洧녬 
 
Your function should stop when the sequence gets to number 1. Your 
implementation must be recursive, without any loops. 

```python
>>> collatz(1)
1
>>> collatz(10)
10
5
16
8
4
2

In [25]:
def collatz(x):
    # Print the current value of x
    print(x)
    # Base case: if x is 1, the sequence ends
    if x == 1:
        return
    # Recursive case: if x is even, divide it by 2; if x is odd, multiply by 3 and add 1
    elif x % 2 == 0:
        collatz(x // 2)
    else:
        collatz(3 * x + 1)

In [24]:
collatz(1)

1

In [26]:
collatz(10)

10
5
16
8
4
2
1

### Question 5 
Write a recursive method binary() that takes a non-negative 
integer n and prints the binary representation of integer n. 
 
```python
>>> binary(0)
0
>>> binary(1)
1
>>> binary(3)
11
>>> binary(9)
1001

In [35]:
def binary(n):
    if n==0:
        return 0
    else:
        return ((10*binary(int(n/2))) + (n%2))

In [37]:
binary(0)

0

In [38]:
binary(1)

1

In [39]:
binary(3)

11

In [40]:
binary(9)

1001

### Question 6

Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document. You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser. When fed a string containing HTML code, your class should print the headings, one per line and in the order in which they appear in the document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your implementation using w3c.html.
>>> infile = open('w3c.html')
>>> content = infile.read()
>>> infile.close()
>>> hp = HeadingParser()
>>> hp.feed(content)
W3C Mission
Principles

### Question 7 
Implement recursive function webdir() that takes as input: a URL (as a string) and non-negative integers depth and indent. Your function should visit every web page reachable from the starting URL web page in depth clicks or less, and print each web page's URL. As shown below, indentation, specified by indent, should be used to indicate the depth of a URL. >>> webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0) http://reed.cs.depaul.edu/lperkovic/csc242/test1.html http://reed.cs.depaul.edu/lperkovic/csc242/test2.html http://reed.cs.depaul.edu/lperkovic/csc242/test4.html http://reed.cs.depaul.edu/lperkovic/csc242/test3.html http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

In [42]:
import requests
from bs4 import BeautifulSoup

def webdir(url, depth, indent):
    if depth < 0:
        return
    # Print the URL with the specified indentation
    print(' ' * indent + url)
    try:
        # Fetch the content of the URL
        response = requests.get(url)
        # If the fetch was successful, parse the content
        if response.status_code == 200:
            html_content = BeautifulSoup(response.text, 'html.parser')
            # Find all links in the content
            for link in html_content.find_all('a'):
                href = link.get('href')
                if href and not href.startswith('http'):
                    # Construct a full URL if necessary
                    href = url + '/' + href
                # Recursive call with decremented depth and incremented indent
                webdir(href, depth - 1, indent + 1)
    except Exception as e:
        print(f"Error fetching or parsing {url}: {e}")

# Example usage
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)

http://reed.cs.depaul.edu/lperkovic/csc242/test1.html

### Question 8

Write SQL queries on the below database table that return:
a) All the temperature data.
b) All the cities, but without repetition.
c) All the records for India.
d) All the Fall records.
e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.
f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.
g) The total annual rainfall for Cairo.
h) The total rainfall for each season.
City Country Season Temperature (C) Rainfall (mm)
Mumbai
India
Winter
24.8
5.9
Mumbai
India
Spring
28.4
16.2
Mumbai
India
Summer
27.9
1549.4
Mumbai
India
Fall
27.6
346.0
London
United Kingdom
Winter
4.2
207.7
London
United Kingdom
Spring
8.3
169.6
London
United Kingdom
Summer
15.7
157.0
London
United Kingdom
Fall
10.4
218.5
Cairo
Egypt
Winter
13.6
16.5
Cairo
Egypt
Spring
20.7
6.5
Cairo
Egypt
Summer
27.7
0.1
Cairo
Egypt
Fall
22.2
4.5

In [43]:
import sqlite3

# Create a new SQLite database or connect to an existing one
conn = sqlite3.connect('weather_data.db')

# Create a cursor object to interact with the database
cursor = conn.cursor()

# Create a table
cursor.execute('''
    CREATE TABLE Weather (
        City TEXT,
        Country TEXT,
        Season TEXT,
        Temperature REAL,
        Rainfall REAL
    )
''')


# Insert data
data = [
    ('Mumbai', 'India', 'Winter', 24.8, 5.9),
    ('Mumbai', 'India', 'Spring', 28.4, 16.2),
    ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
    ('Mumbai', 'India', 'Fall', 27.6, 346.0),
    ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
    ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
    ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
    ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
    ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
    ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
    ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
    ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
]

cursor.executemany('INSERT INTO Weather VALUES (?,?,?,?,?)', data)

In [44]:
data

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [45]:
# Q1: All the temperature data
cursor.execute('SELECT Temperature FROM Weather')
temperature_data = cursor.fetchall()
print("Temperature Data:")
for row in temperature_data:
    print(row[0])

Temperature Data:
24.8
28.4
27.9
27.6
4.2
8.3
15.7
10.4
13.6
20.7
27.7
22.2

In [46]:
# Q2: All the cities, but without repetition
cursor.execute('SELECT DISTINCT City FROM Weather')
cities = cursor.fetchall()
print("Cities without repetition:")
for row in cities:
    print(row[0])

Cities without repetition:
Mumbai
London
Cairo

In [47]:
# Q3: All the records for India
cursor.execute('SELECT * FROM Weather WHERE Country = "India"')
india_records = cursor.fetchall()
print("Records for India:")
for row in india_records:
    print(row)

Records for India:
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)

In [48]:
# Q4: All the Fall records
cursor.execute('SELECT * FROM Weather WHERE Season = "Fall"')
fall_records = cursor.fetchall()
print("Fall Records:")
for row in fall_records:
    print(row)

Fall Records:
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

In [49]:
# Q5: The city, country, and season for which the average rainfall is between 200 and 400 millimeters.
cursor.execute('SELECT City, Country, Season FROM Weather GROUP BY City, Country, Season HAVING AVG(Rainfall) BETWEEN 200 AND 400')
rainfall_data = cursor.fetchall()
print("Cities with average rainfall between 200 and 400 millimeters:")
for row in rainfall_data:
    print(row)

Cities with average rainfall between 200 and 400 millimeters:
('London', 'United Kingdom', 'Fall')
('London', 'United Kingdom', 'Winter')
('Mumbai', 'India', 'Fall')

In [50]:
# Q6: The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.
cursor.execute('''
    SELECT City, Country
    FROM Weather
    WHERE Season = 'Fall'
    GROUP BY City, Country
    HAVING AVG(Temperature) > 20
    ORDER BY AVG(Temperature) ASC
''')
fall_temperature_data = cursor.fetchall()
print("Cities and countries with average Fall temperature above 20 degrees (in increasing order):")
for row in fall_temperature_data:
    print(row)

Cities and countries with average Fall temperature above 20 degrees (in increasing order):
('Cairo', 'Egypt')
('Mumbai', 'India')

In [51]:
# Q7: The total annual rainfall for Cairo.
cursor.execute('SELECT SUM(Rainfall) AS Total_Rainfall FROM Weather WHERE City = "Cairo"')
cairo_annual_rainfall = cursor.fetchone()
print("Total annual rainfall for Cairo:", cairo_annual_rainfall[0])

Total annual rainfall for Cairo: 27.6

In [52]:
# Q8: The total rainfall for each season.
cursor.execute('SELECT Season, SUM(Rainfall) AS Total_Rainfall FROM Weather GROUP BY Season')
seasonal_rainfall = cursor.fetchall()
print("Total rainfall for each season:")
for season in seasonal_rainfall:
    print(f"{season[0]}: {season[1]}")

Total rainfall for each season:
Fall: 569.0
Spring: 192.29999999999998
Summer: 1706.5
Winter: 230.1

### Question 9

. Suppose list words is defined as follows:
>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
Write list comprehension expressions that use list words and generate the following lists:
a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list words).
d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]] (the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.)
e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] (the list of words in list words containing 4 or more characters.)

In [53]:
# List of words
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [54]:
# a) Uppercase Words
uppercase_words = [word.upper() for word in words]
print(uppercase_words)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [55]:
# b) Lowercase Words
lowercase_words = [word.lower() for word in words]
print(lowercase_words)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [56]:
# c) Words Lengths of each word
word_lengths = [len(word) for word in words]
print(word_lengths)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [57]:
# d) Word Information
word_information = [[word.upper(), word.lower(), len(word)] for word in words]
print(word_information)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

In [59]:
# e) Words that have 4 or More Characters
words_4_or_more = [word for word in words if len(word) >= 4]
print(words_4_or_more)

['quick', 'brown', 'jumps', 'over', 'lazy']